body{
  background-image: url('../media/img/index-background.jpg');
  background-size: cover;
}
footer {
  width: 100%;
  position: fixed;
  bottom: 0px;
  text-align: center;
  text-transform:uppercase;
}

footer li {
  list-style: none;
  display: inline-block;
  padding-right: 10px;
}

footer li a {
    text-decoration: none;
}
