body {
  margin:0;
  padding:0;
  background-image: url('../media/img/index-background.jpg');
  background-size: cover;
}

.game {
  width: 600px;
  margin-left: 13vw;
  margin-top: 13vh;
}

.number {
  color: #fff;
  vertical-align: middle;
  font-size: 1.5em;
}

.data {
  padding: 5%;
  margin-bottom: 2vh;
}

.border {
  border: 2px solid #DF0101;
  border-radius: 20px;
}
canvas {
  opacity: 0.8;
}
#win{
  position: absolute;
  width: 730px;
  height:542px;
  top:17vh;
  left:11vw;
}
.win-image{
  background-image: url('../media/img/win2.jpg');
  background-size: cover;
  box-sizing: content-box;
  z-index:1000;
}
